<!DOCTYPE html>
<!--[if lt IE 10]>
<html lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ ctx.config('name') }}</title>
    <meta name="description"
          content="Ovwobio General Contracting Limited is an innovative leader and provider in various sectors such as oil & gas, public relations, solar energy & power generation etc">
    <script src="/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.css">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/parallax.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/content-box.css">
    <link rel="stylesheet" href="/css/image-box.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href='/css/components.css'>
    <link rel="stylesheet" href='/scripts/php/contact-form.css'>
    <link rel="stylesheet" href='/scripts/flexslider/flexslider.css'>
    <link rel='stylesheet' href='/scripts/magnific-popup.css'>
    <link rel="stylesheet" href="/css/codec-warm.css">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/skin.css">
    <link rel="stylesheet" href='scripts/jquery.fullPage.css'>
    <style>
        h1 {
            font-family: 'codec_warm_trialextrabold', Arial, sans-serif;
            font-weight: normal;
            font-style: normal;
        }
        /* Media Query for Mobile Devices */
        @media (max-width: 480px) {
            .mave {
                margin-top: 10px;
            }
        }

        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
            .mave {
                margin-top: 10px;
            }
        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            .mave {
                margin-top: 0;
            }
        }

        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
            .mave {
                margin-top: 100px;
            }
        }

        /* Media Query for Large screens */
        @media (min-width: 1281px) {
            .mave {
                margin-top: 100px;
            }
        }
    </style>
</head>
